@model  HomeAppliance.Models.HomeItemViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="container-fluid row">
            <div class="w-50 p-1">
                <div class="card-header">
                    <a class="btn-light">Avaiable HomeAppliance Products</a> 
                </div>
                <div class="col-12 border d-flex m-0 p-0 pre-scrollable" style="height: 68vh; max-height: 80vh;">
                    <div class="col-12">
                        <p>
                            Products List
                        </p>
                        <div class="col-12 cards row p-0">
                            @foreach (Product product in Model.Products) {
                            <div class="col-6 card p-1 mt-0">
                                <div class="card-body m-1 p-1"> 
                                    <div class="card-img rounded-circle text-center"> <img class="img-thumbnail" src="@product.Image" width="100"></div>
                                    <p class="card-text mb-0 pb-0">@product.Name</p>
                                    <p class="card-text m-0 p-0">Size: @product.Size</p>
                                    <p class="card-text m-0 p-0">Price: @product.Price</p>
                                    <form method="post" asp-action="AddToBusket">
                                        <input type="hidden" name="id" value="@product.Id">
                                        <button type="submit" class="btn btn-info w-100"><span class="text-white">Add</span></button>
                                    </form>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="w-50 p-1">
                <div class="card-header">
                    <a class="btn-outline-warning">List of Products Buying</a>
                </div>
                <div class="col-12 border" style="height:48vh; max-height:90vh;">
                    @foreach (OrderItem item in Model.OrderItems)
                    {
                        <div class="col-12 d-flex flex-wrap bg-white border-bottom">
                            <div class="col-8 d-inline"> Name :  @item.Name</div>
                            <div class="col-4 d-inline text-right"> @item.Price RM</div>
                        </div>
                    }

                </div>
                <div class="col-12 row h-25 m-0 p-0">
                    <div class="col-6 card">
                        <p>
                            Price info
                        </p>
                        <p> Total price : <span> @Model.Price </span> RM</p>
                    </div>
                    <div class="col-6 card">
                        <p class="text-center">
                            Order Confirm
                        </p>
                        <a class="btn btn-success m-1 w-100" asp-action="ConfirmOrder"> Confirm </a>
                        <a class="btn btn-danger m-1 w-100" asp-action="ClearOrder"> Cancel </a>
                    </div>
                </div>
            </div>
        </div>
          </main>
</div>
